    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *::after {
        box-sizing: border-box;
    }

    *::before {
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
    }

    .code-wrapper {
        border: 1px solid black;
        flex: 1;
        width: 100%;
        height: 50%;
    }
    #code {
      height: 100%;
      overflow: hidden;
    }

    .preview-wrapper {
        border: 1px solid red;
        flex: 1;
        width: 100%;
        height: 50%;
        background: #fee433;
    }

    .preview {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  .lowerLip-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -150px;
        height: 100px;
        width: 300px;
        overflow: hidden;
    }

    .wrapper {

        width: 100%;
        height: 165px;
        position: relative;
    }

    .wrapper> :not(:last-child) {
        z-index: 1;
    }
   
   .speedButton {
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      margin: 10px;
      background: red;
   }
   .speedButton button {
    padding: 5px;
    margin: 5px;
   }
   .speedButton button.active {
      background: yellow;
   }